{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "eslint:recommended",
    "airbnb/base",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": [
      "error", { "argsIgnorePattern": "^_.*$" }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error", { "argsIgnorePattern": "^_.*$" }
    ],
    "camelcase": [
      "error", { "allow": ["^_.*"] }
    ],
    "@typescript-eslint/camelcase": [
      "error", { "allow": ["^_.*"] }
    ],
    "prettier/prettier": [
      "error"
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "paths": ["src"],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
