body, #root {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  background-color: #3a556a;
  overflow: hidden;
}

@font-face {
  font-family: "Klinic Slab";
  src: url("fonts/KlinicSlab-Bold.woff2") format("woff2"), url("fonts/KlinicSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Klinic Slab Book";
  src: url("fonts/KlinicSlab-Book.woff2") format("woff2"), url("fonts/KlinicSlab-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Klinic Slab Book";
  src: url("fonts/KlinicSlab-BookItalic.woff2") format("woff2"), url("fonts/KlinicSlab-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/RobotoSlab-Bold.woff2") format("woff2"), url("fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/RobotoSlab-Regular.woff2") format("woff2"), url("fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "steps-feedback-icons";
  src: url("fonts/steps-feedback-icons.woff2") format("woff2"), url("fonts/steps-feedback-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.steps-icon {
  font-family: "steps-feedback-icons";
  display: inline-block;
  vertical-align: baseline;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.steps-icon:before {
  transition: opacity .3s ease;
}

.steps-icon:disabled:before {
  opacity: .5;
}

.steps-icon[data-glyph="person"]:before {
  content: "\e800";
}

.steps-icon[data-glyph="paper-plane"]:before {
  content: "\e801";
}

.steps-icon[data-glyph="heart-outline"]:before {
  content: "\e802";
}

.steps-icon[data-glyph="heart-filled"]:before {
  content: "\e803";
}

.steps-icon[data-glyph="clock"]:before {
  content: "\e804";
}

.steps-icon[data-glyph="arrow-left"]:before {
  content: "\e806";
}

.steps-icon[data-glyph="arrow-right"]:before {
  content: "\e805";
}