html, body, #root {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(58, 85, 106);
  overflow: hidden;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

*:focus {
  outline: 0;
}

*::-moz-focus-inner {
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  user-select: none;
}

input, textarea {
  user-select: auto !important;
}

@font-face {
  font-family: "Klinic Slab";
  src: url("../fonts/KlinicSlab-Bold.woff2") format("woff2"), url("../fonts/KlinicSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Klinic Slab Book";
  src: url("../fonts/KlinicSlab-Book.woff2") format("woff2"), url("../fonts/KlinicSlab-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Klinic Slab Book";
  src: url("../fonts/KlinicSlab-BookItalic.woff2") format("woff2"), url("../fonts/KlinicSlab-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2"), url("../fonts/RobotoSlab-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2"), url("../fonts/RobotoSlab-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "feedbax-icons";
  src: url("../fonts/feedbax-icons.woff2") format("woff2"), url("../fonts/feedbax-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.feedbax-icon {
  font-family: "feedbax-icons";
  display: inline-block;
  vertical-align: baseline;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feedbax-icon:before {
  transition: opacity .3s ease;
}

.feedbax-icon:disabled:before {
  opacity: .5;
}

.icon-arrow-left:before {
  content: '\e802';
}

/* '' */

.icon-arrow-right:before {
  content: '\e803';
}

/* '' */

.icon-chevron-left:before {
  content: '\e804';
}

/* '' */

.icon-chevron-right:before {
  content: '\e805';
}

/* '' */

.icon-clock:before {
  content: '\e806';
}

/* '' */

.icon-clock-filled:before {
  content: '\e807';
}

/* '' */

.icon-heart:before {
  content: '\e808';
}

/* '' */

.icon-heart-filled:before {
  content: '\e809';
}

/* '' */

.icon-log-out:before {
  content: '\e80a';
}

/* '' */

.icon-user:before {
  content: '\e80b';
}

/* '' */

.icon-user-filled:before {
  content: '\e80c';
}

/* '' */

.icon-send:before {
  content: '\e80d';
}

/* '' */

.icon-share:before {
  content: '\e80e';
}

/* '' */